body{
    background-color: #013950;
}

.task_body{
    background-color: #012839;
}

@media screen and (max-width:1199px) {
    .task_body{
        width: 85% !important;
    }
    #task_input{
        margin-inline-end: 10px !important;
    }  
}
.task{
    background-color: #009788;
    color:#fff;
    transition: all 0.5s;
}

.task:hover{
    width: 80% !important;
}

.task i{
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.task i:hover{
    color: #012839;
}
/* #009788 */